* {
    margin: 0 auto;
}

body {
    font-family: 'Verdana', sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-family: 'Verdana', sans-serif;
    font-size: 36px;
    color: #520909;
}

.menu {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

.signInText {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

.error {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #591e00;
}

.signInBox {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #2e0a54;
}

.signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #520909;
}

.inputBox {
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
}

.signButton {
    width: 90px;
    height: 25px;
}
